<launch>

  <arg name="freejoy_dev" default="js2" />

  <param name="joy_node/deadzone" value="0.2" type="double"/>
  <param name="joy_node/coalesce_interval" value="0.01" type="double"/>
  <param name="joy_node/autorepeat_rate" value="10" type="double"/>
  <param name="joy_node/dev" value="/dev/input/$(arg freejoy_dev)" type="string"/>
  <node name="joy_node" pkg="joy" type="joy_node" output="screen" respawn="false" />

  <node name="device_freejoy" pkg="orthopus_addon" type="device_freejoy" output="screen" respawn="false"/>

  <node name="hl_controller" pkg="orthopus_addon" type="hl_controller" output="screen" respawn="false" >
    <rosparam file="$(find orthopus_addon)/config/settings.yaml"/>
  </node>

  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    <arg name="port" value="9090"/>
  </include>
</launch>
